<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>NBA stats</title>
    <meta name="description" content="NBA stats">
    <meta name="author" content="Viktor Minko">

    <meta http-equiv="refresh" content="5"/>

</head>

<body>
<table style="margin-left:auto; margin-right:auto;" border="1px" cellpadding="10px" cellspacing="0">
    <thead>
    <tr>
        <th>Home Team Name</th>
        <th>Score</th>
        <th>Guest Team Name</th>
        <th>Started at</th>
        <th>Last event timestamp</th>
        <th>Finished at</th>
    </tr>
    </thead>
    {{range .Games}}
        <tr>
            <td>
                {{if .HomeWins}}
                    <strong>{{.Home}}</strong>
                {{else}}
                    {{.Home}}
                {{end}}
            </td>

            <td>{{.Score}}</td>

            <td>
                {{if .GuestWins}}
                    <strong>{{.Guest}}</strong>
                {{else}}
                    {{.Guest}}
                {{end}}
            </td>

            <td>{{.TimeStarted}}</td>
            <td>{{.LastEventSinceStart}}</td>
            <td>{{.TimeFinished}}</td>
        </tr>
    {{end}}
    <tr>
        <td></td>
        <td>{{.TotalScore}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

</body>
</html>